$palette: (
    blue: (
        darknessplus:   hsl(219, 50%, 5%),
        darkness:   hsl(219, 50%, 10%),
        moreDarker: hsl(219, 50%, 17%),
        darker:     hsl(219, 50%, 25%),
        dark:       hsl(219, 50%, 35%),
        base:       hsl(219, 50%, 50%),
        light:      hsl(219, 50%, 65%),
        lighter:    hsl(219, 50%, 75%)    
    ),
    white: (
        darker: hsl(219, 28%, 66%),
        dark:   hsl(219, 90%, 90%),
        base:   hsl(219, 100%, 100%)
    ),
    pink: (
        base: hsl(310, 35%, 53%)
    )
);

:root {
    --loader-border: hsl(219, 50%, 50%);
}