header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(color(blue, darknessplus), 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    box-shadow: 0 0 15px color(blue, darknessplus);
    z-index: 10;
    

    .wrapper nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1em;

        #logo {
            font-weight: 900;
            letter-spacing: 1px;
            margin: 5px 0 0 5px;

            .losange-head {
                position: relative;
            
                display: flex;
                justify-content: center;
                align-items: center;
            
                @include cube(35px);
            
                @include rotateOnlyParent(45deg, h1);
                overflow: hidden;
                border: 2px solid color(white, dark);

                h1 {
                    color: color(white, dark)
                }
            }
        }

        .burger {
            display: flex;
            flex-direction: column;
            justify-content:space-evenly;
            align-items: flex-end;

            width: 52px;
            height: 46px;

            padding: 4px;
            border-radius: 10px;
            transition: .5s ease-in-out;

            cursor: pointer;

            &:active {
                background: color(blue, light);
            }

            .line {
                display: block;
                height: 2px;
                width: 100%;
                border-radius: 10px;
                background: color(white, dark);
                transition: transform 0.3s;

                &.line2 {
                    width: 80%;
                }

                &.line3 {
                    width: 60%;
                }
            }
        }


    }
}